body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* set the height of the body to 100% of the viewport height */
    
}

#updateForm {
    max-width: 300px; 
    margin: 40px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
  }

.header {
   flex-direction: row;
   justify-content: center;
}

