* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root {
    --azul-principal: #46697F;
    --azul-fundo: #4f758f40;
}

/* para o sidebar nao fazer o site ter rolamento horizontal, além de deixar o limite dele aos 100% do body */
html, body{
    overflow-x: hidden;
    height: 100%;   
}

body {
    display: flex;
}


/*
.table-wrapper {
    overflow-x: auto;
    width: 100%; 
    padding: 20px;
}

.table {
    min-width: 800px;
    display: table; 
}
*/


header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    z-index: 1000;
    background-color: var(--azul-principal);
    margin-bottom: 50px;
    color: white;
    padding: 20px;

    & #h1-header {
        margin: 0;
        flex: 1;
        text-align: center;
    }

    & #botao-menu {
    
        background-color: var(--azul-principal);
        padding: 0px 4px;
        border: none;
        
        & i {
            color: white;
            font-size: 1.5rem;
        }
        
        & i:hover {
            color: rgb(137, 137, 137);
        }
    }

}

.container {
    padding: 0px 30px;
}

form {
    margin-bottom: 20px;
}

.filtro_pesquisa {
    display: flex;
    gap: 10px;
}

.nome-tabela {
    overflow: hidden;
    /* Oculta o texto que passa do tamanho do contêiner */
    text-overflow: ellipsis;
    /* Adiciona reticências (...) ao texto que transborda */
    color: red;
}

.tabela:nth-child(even) {
    background-color: var(--azul-fundo);
}

/*
#formulario-filtro{
    & .row{
        display: flex;
        flex-direction: row;
    }
}


/* sidebar */
#sidebar {
    background-color: var(--azul-principal);
    position: sticky;
    top: 0;
    left: 0;
    min-width: 200px;
    overflow-y: auto;
    height: 100vh;
    padding: 5px;
    box-shadow: inset -2px 0px 10px rgba(34, 34, 34, 0.233);
    color: white;

    & #banner-uemg{
        width: 100%;
        padding: 10px;
    }
    

    & button {
        font-weight: bolder;
        background-color: #123448;
        color: white;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid transparent;
        
    }

    & button:hover{
        background-color: var(--azul-fundo);
        border: 1px solid black;
    }

    & h4{
        font-size: 1.2rem;
        text-align: center;
    }

    & hr{
        color: black;
    }

    & .card-body {
        background-color: rgba(255, 255, 255, 0.264);
        padding: 0px;

        & a {
            text-decoration: none;
        }

        & p {
            margin: 0px;
            color: white;
            font-weight: bolder;
            padding: 5px;
        }
    
        & p:hover {
            background-color: #627e8f;
            cursor: pointer;
        }
    }
}


/* Personalizar o scroll em WebKit browsers */
#sidebar::-webkit-scrollbar {
    width: 4px;
    /* Largura da barra de rolagem */

}

#sidebar::-webkit-scrollbar-track {
    background: #35353500;
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Cantos arredondados */
}

#sidebar:hover::-webkit-scrollbar-thumb {
    background-color: rgb(30, 30, 30);
    /* Cor do "polegar" da barra de rolagem */
    border-radius: 40px;
    /* Cantos arredondados */
    transition-duration: background-color 1s;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}


.right-content {
    width: 100%;
    right: 0;
    top: 0;

}

.form-input{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1000px) {
    header {
        & h1{
            font-size: 1.5rem;
        }
    }


}

/* adicionado no nupsi */
@media screen and (max-width: 768px) {
    header {
        align-items: center;
        justify-content: flex-start;

        & h1{
            font-size: 1.2rem;
        }
    }

    #sidebar {
        display: none;
        position: sticky;
        /* position: fixed?  e z-index:10000 caso queira deixar fixo e em cima do header  */
        top: 0;
        left: 0;
        height: 100vh;
        
    }


    #botao-menu {
        display: block;
        
        left: 10px;
    }

    #h1-header {
        margin: 0;
        flex: 1;
        text-align: center;
    }

    .right-content {
        width: 100vw; /* Assuming a scrollbar width of 17px */
        
    }

    .container {
       margin: auto;
        /* tirando margin que o boostrap colocou */
        width: 100vw;
        /* centralizando conteudo da direita */
    }

}