* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --azul-principal: #46697F;
    --azul-fundo: #4f758f40;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    background-color: var(--azul-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#banneruemg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

#texto {
    font-size: 0.5em;
    & h1{
       /* text-align: left; */
    }
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

#barra {
    width: 600px;
    background-color: var(--azul-principal);
    height: 4px;
}


main {
    
    flex-direction: column;
    width: 400px;
    padding: 0px;
}



form {
    display: flex;
    background-color: white;
    flex-direction: column;

    width: 100%;
    padding: 25px;
    margin: auto;
    gap: 5px;
    min-height: 250px;
    border-radius: 4px;
    box-shadow: 0px 0px 7px rgba(75, 75, 75, 0.781);
}

#box-usuario,
#box-senha {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: bolder;
    gap: 4px;
}


#espaco{
    display: flex;
    flex: 1;
}

i{
    color: #B1C0C9;
}

input {
    margin: 4px 0px 4px 0px;
    padding: 5px;
    outline: none;
    transition-duration: 0.15s;
    border-radius: 4px;
    border: 0;
    width: 100%;
    /*box-shadow: 0px -2px 0px rgba(71, 71, 71, 0.301);*/
}

input::placeholder{
    font-weight: 700;
}


#box-opcoes{
    margin: 4px 0px 10px 0px;
    color: white;
    font-weight: 700;
    color: var(--azul-principal);

    & #opcoes{
        outline: none;
    }

    & label{
        padding-right: 5px;
    }
}


button {
    cursor: pointer;
    background-color: var(--azul-principal);
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 4px;
    font-weight: bolder;
    transition-duration: 0.1s;
}


button:hover {
    background-color: #B1C0C9;
    color: var(--azul-principal);
}

